<tr class="athing">
    <td><table border="0">  
    <tbody><tr><td class="ind"></td>
    <td valign="top" class="votelinks"><center>
        <a id="up_11525706">
            <div class="votearrow" title="upvote"></div></a></center></td><td class="default">
                <div style="margin-top:2px; margin-bottom:-10px;"><span class="comhead">
          <a><%= commentary.user.name %></a> <span class="age"> <%= time_ago_in_words(commentary.created_at) %></a>
          </span> <span class="par"></span><span class="deadmark"></span>          <span class="storyon"></span>
                  </span></div><br><span class="comment">
                  <span class="c00"><%= commentary.content %><span>
              </span><div class="reply">     <font size="2">   <p>
                      <u><a href="reply?id=<%=commentary.id%>">reply</a></u>
                     </p></div></span></span></td></tr> </font>
      </tbody></table></td></tr>
      