<% content_for :title, "Submit" %>
<head>
</head>
<body>
    <div class="background">
        <%= render 'form' %><br/>
        <font color="grey">Leave url blank to submit a question for discussion. If there is no url, the text (if any) will appear at the top of the thread.</font>
        
    </div>
    
</body>

