// Place all the styles related to the Contributions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.background {
    background-color:#f6f6ec;
    width:100%;
    padding: 16px;
}