#hnmain {
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border-spacing: 0px;
}

body {
  margin: 0px;
}

.votearrow {
  width: 10px;
  height: 10px;
  border: 0px;
  margin: 3px 2px 6px;
  background: url("grayarrow.gif") no-repeat;
}

.subtext {
    font-size: 8px;
}

.login {
  float: right;
}

.grey {
  background-color: #f6f6ec;
}